<main class="login__page">
    <div class="header__login">
        <h2 class="header__title">Cadastre-se</h2>
        <div class="header__icons">
            <img src="../../../assets/img/google_phosphor_icon.svg" alt="">
            <img src="../../../assets/img/linkedin_phosphor_icon.svg" alt="">
            <img src="../../../assets/img/facebook_phosphor_icon.svg" alt="">
        </div>
        <p>ou use seu e-mail para logar</p>
    </div>
    <div class="form">
        <form class="form__container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <img class="icon_login" src="../../../assets/img/mail_phosphor_icons.svg" alt="">
                <input placeholder="E-mail" type="email" formControlName="email"  id="email" name="login" class="form-control" required>
            </div>
            <div class="form-group">
                <img class="icon_login" src="../../../assets/img/user_phosphor_icon_input.svg" alt="">
                <input placeholder="Username" type="username" formControlName="username"  id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <img class="icon_password" src="../../../assets/img/lock_phosphor_icon.svg" alt="">
                <input placeholder="Senha" type="password" formControlName="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <img class="icon_login" src="../../../assets/img/image_phosphor_icon_input.svg" alt="">
                <input placeholder="URL da Foto de perfil" type="profilePhoto" formControlName="profilePhoto"  id="profilePhoto" name="profilePhoto" class="form-control">
            </div>
            <div class="form-button">
                <button class="submit__button" type="submit">Entrar</button>
            </div>
        </form>
        <div class="login__footer">
            <p>Já possui uma conta? Efetue o <a [routerLink]="['/login']">login</a>!</p>
        </div>
    </div>
</main>