main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    margin: 1rem;
}

.title h2{
    text-align: center;
    font: var(--font-32-medium);
    color: var(--verde-escuro-90);
}

.title h3{
    text-align: center;
    font: var(--font-16-medium);
    color: var(--placeholder);
    margin: .5rem 0 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form__container {
    min-width: 130px;
    border-radius: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.form__container option{
    font: var(--font-16-normal);
    color: var(--verde-claro-10);
    background-color: var(--verde-escuro-90);
}

.submit__button {
    background-color: var(--verde-escuro-90);
    color: var(--verde-claro-10);
    font: var(--font-16-medium);
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form__container--fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--input-background);
    border-radius: 0.875rem;
    padding: .5rem 1rem;
}

.form__container--fields img {
    width: 24px;
}

.form__container--fields input, select {
    width: 100%;
    font: var(--font-16-medium);
    color: var(--verde-escuro-90);
    background-color: transparent;
    border: none;
    padding: 0 .5rem;
}

.form__container--fields select {
    cursor: pointer;
}

.form__input::placeholder {
    width: 100%;
    height: 36px;
    background-color: var(--input-background);
    font: var(--font-16-medium);
    color: var(--placeholder);
    text-align: left;
    padding: .5rem 0;
    border-radius: 0.875rem;
    border: none;
}

.form__input:focus::placeholder {
    opacity: 0;
}

.form__container--fields input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

@media (min-width: 992px) {
    .title h2 {
        font: var(--font-48-medium);
    }

    .title h3 {
        font: var(--font-24-medium);
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .form__container {
        max-width: 350px;
    }
}