<main>
    <div class="title">
        <h1>Cadastrar Avistamento</h1>
        <h2>Escolha as informações do que você avistou.</h2>
    </div>
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="sightForm">
        <div class="form__container">
            <div class="form__container--fields">
                <img src="../../../assets/img/imageiconmini.svg" alt="Image Icon">
                <input class="form__input" type="text" placeholder="URL da Imagem" formControlName="image">
            </div>
            <div class="form__container--fields">
                <img src="../../../assets/img/mapiconmini.svg" alt="Map Icon">
                <input class="form__input" type="text" placeholder="Local do Avistamento" formControlName="location">
            </div>
            <div class="form__container--fields">
                <img src="../../../assets/img/calendariconmini.svg" alt="Date Icon">
                <input class="form__input" type="text" placeholder="Data do Avistamento" onfocus="(this.type='date')" formControlName="date">
            </div>
            <div class="form__container--fields">
                <img src="../../../assets/img/usericonmini.svg" alt="User Icon">
                <select class="form__select" formGroupName="user">
                    <option selected> Usuário </option>
                    <option [ngValue]="users[5]" [selected]=""> Administrador </option>
                </select>
            </div>
            <div class="form__container--fields">
                <img src="../../../assets/img/birdiconmini.svg" alt="Bird Icon">
                <select class="form__select" formGroupName="bird">
                    <option selected> Pássaro </option>
                    <option *ngFor="let bird of birds" [ngValue]="bird">{{ bird.portugueseName | titlecase }}</option>
                </select>
            </div>
        </div>
        <button class="submit__button" type="submit">Cadastrar</button>
    </form>
</main>