<header class="header">
    <button class="header__button header__button--menu" (click)="openMenu()">
        <img id="menuButton" src="../../../assets/img/menu_phosphor_icon.svg" alt="ícone de menu feito por tres linha">
    </button>

    <h1 class="header__logo">
        <a [routerLink]="['/']"><img id="logo" src="../../../assets/img/alphabirdz-logo.png" alt="Alphabirdz logo"></a>
    </h1>
    
    <div class="test">
        <app-menu-list *ngIf="!mobile"></app-menu-list>
        <button class="header__button" (click)="openUser()">
            <img id="userMenuButton" src="../../../assets/img/user_phosphor_icon.svg" alt="ícone de usuário feito pela silhueta de um busto">
        </button>
    </div>
    
</header>

<app-menu-list *ngIf="menuOpen && mobile"></app-menu-list>
<app-user-list *ngIf="userOpen" (isOpen)="openUser()" ></app-user-list>

