<main>
    <div class="card" *ngFor="let bird of birds">
        <div class="top_card">
            <div class="circle"></div>
            <p> {{ bird.portugueseName }} </p>
        </div>
        <img src="../../../assets/img/bird_phosphor_icon.svg" alt="Avatar" class="bird_img">
        <div class="footer_card">
            <div class="habitat">
                <h4>Habitat</h4>
                <p>{{ bird.habitat }} </p>
            </div>
            <img src="../../../assets/img/gender_frame.svg" alt="" class="gender">
        </div>
    </div>
</main>