<nav class="menu">
    <ul>
        <li>
            <img src="../../../assets/img/bird_phosphor_icon.svg" alt="Ícone de pássaro do phosphor icon"> 
            <a [routerLink]="['/guide']">Guia de bolso</a>
        </li>
        <li>
            <img src="../../../assets/img/forum_phosphor_icon.svg" alt="Ícone de dois balões de conversa do phosphor icon se sobrepondo">
            <a [routerLink]="['/feed']">Feed</a>
        </li>
        <li>
            <img src="../../../assets/img/home_phosphor_icon.svg" alt="Ícone de casa do phosphor icon para simbolizar a pagina inicial">
            <a [routerLink]="['/']">Home</a>
        </li>
    </ul>
</nav>

