@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-escuro-90: #007A68;
    --verde-claro-10: #CFF1EC;
    --verde-claro-90: #00C7A9;
    --drop-shadow: rgba(10, 10, 10, 0.4);
    --font-64-medium: 500 4rem 'Roboto Flex', arial;
    --font-64-normal: 400 4rem 'Roboto Flex', arial;
    --font-32-medium: 500 2rem 'Roboto Flex', arial;
    --font-32-normal: 400 2rem 'Roboto Flex', arial;
    --font-24-medium: 500 1.5rem 'Roboto Flex', arial;
    --font-16-medium: 500 1rem 'Roboto Flex', arial;
}
